<div style="display: grid;">
<h1>Debanjan Calculator Application</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="button" routerLink="/">Home</a> </li>
        <li class="breadcrumb-item"><a class="button" routerLink="/new-cal">New Calculation</a></li>
        <li class="breadcrumb-item"> <a class="button" routerLink="/all-list">List All  Calculation</a> </li>
        <li class="breadcrumb-item"> <a class="button" routerLink="/all-add">List All Additions  Calculation</a> </li>
        <li class="breadcrumb-item"> <a class="button" routerLink="/all-sub">List All Subtract  Calculation</a> </li>
        <li class="breadcrumb-item"> <a class="button" routerLink="/all-mult">List All Multiplication Calculation</a> </li>
       
      </ol>
    </nav>
  </div>
</nav>

</div>
<br/>
<br/>
<router-outlet></router-outlet>